.color-form {
  margin: 1rem 0;
  display: flex;
  flex-direction: column;
  margin-inline: auto;
  max-width: 250px;
  width: 100%;
}

.color-form__button {
  margin-top: 15px;
  border-radius: 8px;
}

.color-form__hex-row {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-inline: auto;
  gap: 0.5rem;
}
