.color-card {
  margin: 0px 10px;
  padding: 5px;
}

.color-card-headline {
  display: inline;
  padding: 2px 6px;
  background: black;
  color: white;
}

.color-card__list {
  padding-left: 0px;
}
.color-card__list-item {
  list-style: none;
}
