.contrast-score {
  display: inline-block;
  font-weight: bold;
  color: #000000;
  margin-bottom: 5px;
}

.contrast-score__yup {
  background-color: #4caf50;
}

.contrast-score__kinda {
  background-color: #ff9800;
}

.contrast-score__nope {
  background-color: #f44336;
}
